{<<"app">>,<<"chumak">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"Erlang implementation of ZeroMQ Transport Protocol (ZMTP)">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include/chumak.hrl">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src/chumak.app.src">>,
  <<"src/chumak.erl">>,<<"src/chumak_bind.erl">>,<<"src/chumak_cert.erl">>,
  <<"src/chumak_command.erl">>,<<"src/chumak_curve.erl">>,
  <<"src/chumak_curve_if.erl">>,<<"src/chumak_dealer.erl">>,
  <<"src/chumak_lb.erl">>,<<"src/chumak_lbs.erl">>,<<"src/chumak_pair.erl">>,
  <<"src/chumak_pattern.erl">>,<<"src/chumak_peer.erl">>,
  <<"src/chumak_protocol.erl">>,<<"src/chumak_pub.erl">>,
  <<"src/chumak_pull.erl">>,<<"src/chumak_push.erl">>,
  <<"src/chumak_rep.erl">>,<<"src/chumak_req.erl">>,
  <<"src/chumak_resource.erl">>,<<"src/chumak_router.erl">>,
  <<"src/chumak_socket.erl">>,<<"src/chumak_sub.erl">>,
  <<"src/chumak_subscriptions.erl">>,<<"src/chumak_sup.erl">>,
  <<"src/chumak_xpub.erl">>,<<"src/chumak_xsub.erl">>,
  <<"src/chumak_z85.erl">>]}.
{<<"licenses">>,[<<"MPLv2">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/chovencorp/chumak">>}]}.
{<<"name">>,<<"chumak">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.4.0">>}.
